<html>
    <head>
        <script src="../src/Thermostat.js"></script>
    </head>

    <body>
    <h1>Thermostat</h1>

    <div>
        <h2>Display temp somewhere here ???</h2>
        <button id="increase" class="thermostat_button">Up</button>
        <button id="decrease" class="thermostat_button">Down</button>
        <button id="reset" class="thermostat_button">Reset temp</button>
    </div>

    <div>
        <button id="powersaving" class="thermostat_button">Powersaving Mode (On/Off)</button>
        <button id="usage" class="thermostat_button">Energy usage</button>
    </div>

    </body>
</html>